.review {
  max-width: 1170px;
  margin: 0 auto;
  padding: 83px 53px 135px;
}

.review__title {
  max-width: 529px;
  margin: 0 auto 30px;
}

.review__subtitle {
  max-width: 418px;
  margin: 0 auto 100px;
  color: #a6a6a6;
  text-align: center;
}

.review__cards {
  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(318px, 1fr));
  gap: 30px;
}

@media screen and (max-width: 1280px) {
  .review__cards {
    gap: 18px;
  }
}

@media screen and (max-width: 860px) {
  .review__cards {
    grid-template-columns: minmax(318px, 1fr);
  }
}

@media screen and (max-width: 760px) {
  .review__subtitle {
    max-width: 318px;
    margin-bottom: 50px;
  }

  .review__title {
    max-width: 318px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 520px) {
  .review {
    padding: 23px 21px 75px;
  }
}
