.tours-card {
  width: 370px;
  min-height: 531px;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: #ffffff;
  padding: 50px 50px 43px;
  box-sizing: border-box;
  cursor: pointer;
}

.tours-card__button-arrow {
  min-width: 22px;
  min-height: 15px;
  background-image: url(../../images/arrow-img.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tours-card__forward-button {
  z-index: 2;
  width: 199px;
  min-height: 42px;
  padding: 7px 20px;
  border: 0;
  border-radius: 50px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  color: #ffffff;
  transform: translateX(-20px);
  cursor: pointer;
}

.tours-card__foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 300ms ease;
}

.tours-card__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%
  );
  z-index: 1;
}

.tours-card__subtitle {
  max-width: 270px;
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.tours-card__text-container {
  position: relative;
  z-index: 2;
}

.tours-card__title {
  max-width: 270px;
  margin: 0 0 18px;
}

@media screen and (max-width: 1280px) {
  .tours-card__title {
    max-width: 350px;
  }

  .tours-card {
    width: 450px;
    min-height: 531px;
  }
}

@media screen and (max-width: 1023px) {
  .tours-card__title {
    margin-bottom: 13px;
  }

  .tours-card__subtitle {
    letter-spacing: -0.04em;
  }

  .tours-card__forward-button {
    width: 123px;
    min-height: 26px;
    padding-bottom: 1px;
  }

  .tours-card {
    width: 318px;
    min-height: 318px;
    border-radius: 20px;
    padding: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .tours-card:hover .tours-card__foto {
    transform: scale(1.2);
  }

  .tours-card:hover .tours-card__forward-button {
    background-color: #286562;
  }

  .tours-card:active .tours-card__forward-button {
    background-color: #efa501;
  }
}
