.choose-tour {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 135px 0 82px;
}

.choose-tour__title {
  max-width: 473px;
  margin: 0 0 35px;
}

.choose-tour__cards {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

@media screen and (max-width: 1280px) {
  .choose-tour__cards {
    gap: 18px;
  }

  .choose-tour {
    padding: 135px 53px 82px;
  }
}

@media screen and (max-width: 760px) {
  .choose-tour__title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 520px) {
  .choose-tour {
    padding: 75px 21px 22px;
  }
}
