.stories-card {
  width: 100%;
  min-height: 567px;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 60px;
  color: #ffffff;
  cursor: pointer;
  box-sizing: border-box;
}

.stories-card__title {
  max-width: 554px;
  margin: 0 0 38px;
  text-wrap: balance;
}

.stories-card__text {
  z-index: 2;
}

.stories-card__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0.01%,
    rgba(0, 0, 0, 0.2) 100%
  );
  z-index: 1;
}

.stories-card__list {
  margin: 28px 0 0;
  padding-left: 12px;
  list-style: none;
}

.stories-card__list li:before {
  content: "•";
  font-size: 20px;
  padding-right: 11px;
}

.stories-card__links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 36px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.stories-card__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.stories-card__link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.stories-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 300ms ease;
}

.stories-card__forward-button {
  width: 199px;
  height: 42px;
  padding: 7px 20px;
  border: 0;
  border-radius: 50px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  color: #ffffff;
  transform: translate(-20px, 7px);
  cursor: pointer;
}

.stories-card__footer {
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.stories-card__description {
  max-width: 554px;
  margin: 0;
}

.stories-card__arrow-button {
  min-width: 22px;
  min-height: 15px;
  background-image: url(../../images/arrow-img.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 760px) {
  .stories-card__forward-button {
    padding-top: 9px;
    gap: 17px;
  }
}

@media screen and (max-width: 760px) {
  .stories-card__links {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .stories-card__list {
    margin-top: 23px;
    padding-left: 9px;
  }

  .stories-card__list li:before {
    content: "•";
    font-size: 16px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 760px) {
  .stories-card__title {
    max-width: 263px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 769px) {
  .stories-card:hover .stories-card__forward-button {
    background-color: #286562;
  }

  .stories-card:active .stories-card__forward-button {
    background-color: #efa501;
  }

  .stories-card:hover .stories-card__image {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 760px) {
  .stories-card {
    border-radius: 20px;
    min-height: 455px;
    padding: 30px 25px 30px 30px;
  }
}
