.footer {
  padding: 30px;
  background-color: #f4f0e9;
}

.footer__title {
  max-width: 222px;
  margin: 0;
  color: #a6a6a6;
}

.footer__container {
  max-width: 1167px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .footer__container {
    max-width: 918px;
  }
}

@media screen and (max-width: 720px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 520px) {
  .footer {
    padding: 21px;
  }

  .footer__title {
    max-width: 177px;
    margin-bottom: 7px;
  }
}
